<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ses.android.seispapp"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ses.android.soap.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.Menu_principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Menu_principal" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.ParticipanteDNIActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ParticipanteDNIActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>    
        <activity
            android:name="org.ses.android.soap.ParticipanteDatosActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ParticipanteDatosActivity" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.preferences.PreferencesActivity"
            android:label="@string/app_name" />
        <activity
            android:name="org.ses.android.soap.preferences.AdminPreferencesActivity"
            android:label="@string/app_name" />
        <activity
            android:name="org.ses.android.soap.ParticipanteBusquedaActivity"
            android:label="@string/app_name" />
<!--             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity
            android:name="org.ses.android.soap.ParticipanteVisitaActivity"
            android:label="@string/app_name" />
        <activity
            android:name="org.ses.android.soap.VisitListActivity"
            android:label="@string/app_name" />   
<!--         <service android:name="org.ses.android.aidlserver.ArithmeticService"
                     android:process=":remote">
                <intent-filter >
                    <action android:name="com.remote.service.CALCULATOR"/>
                </intent-filter>
        </service>  -->              
    </application>

</manifest>
