<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ses.android.seispapp120"
    android:versionCode="1"
    android:versionName="2.2.0" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name="org.ses.android.soap.tasks.StringConexion"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.ses.android.soap.PromoterLoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.MainMenuActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MainMenuActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.ViewMissedVisitsActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ViewMissedVisitsActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.ParticipantDashboardActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ParticipantDashboardActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.NewVisitActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NewVisitActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.NoMatchActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NoMatchActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.ParticipantHistoryActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.ses.android.soap.ParticipantHistoryActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.ParticipantMatchActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.ses.android.soap.ParticipantMatchActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.RegisterParticipantActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.ses.android.soap.RegisterParticipantActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.ses.android.soap.FingerprintFindActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.ses.android.soap.FingerprintFindActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.AddFingerprintExistingActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.ses.android.soap.AddFingerprintExistingActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ses.android.soap.FingerprintConfirmActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.ses.android.soap.FingerprintConfirmActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.Light"
            android:name="org.ses.android.soap.preferences.PreferencesActivity"
            android:label="@string/app_name" />
        <activity
            android:theme="@android:style/Theme.Holo.Light"
            android:name="org.ses.android.soap.preferences.AdminPreferencesActivity"
            android:label="@string/app_name" />
       <activity
            android:name="org.ses.android.soap.widgets.ParticipanteDatosSecund"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/title_activity_participante_datos_secund" >
        </activity>
        <activity
            android:name="org.ses.android.soap.widgets.CambioServer"
            android:theme="@android:style/Theme.Holo.Light"
            android:label="@string/title_activity_cambio_server" >
        </activity>
    </application>

</manifest>
